@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24.38px 5%;
  background: rgba(107, 145, 66, 0.1);
  border-bottom: 1px solid rgba(63, 63, 63, 0.1);
  z-index: 10;
}

#menu_icon {
  display: none;
}

span.logo {
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 28.3446px;
  line-height: 160%;
  /* or 45px */
  color: #396c03;
}

.logo > span {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.right_content {
  display: flex;
  align-items: center;
  gap: 101px;
}

ul.link_wrapper,
ul.sub_list {
  list-style: none;
}

ul.link_wrapper {
  display: flex;
  gap: 70px;
}

#down_arrow {
  transition: transform 0.5s;
}

.down_arrow_rotate {
  transform: rotate(180deg);
}

#language_list {
  position: relative;
}

ul.sub_list {
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 11;
}

.open_submenu {
  display: flex !important;
}

.sub_list li.sub_link {
  width: 80px;
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(63, 63, 63, 0.3);
  cursor: pointer;
}

li.sub_link:last-child {
  border-bottom: none;
}

li.sub_link:hover {
  background: rgba(63, 63, 63, 0.1);
}

.link_wrapper li.link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
}

li.link a {
  color: #3f3f3f;
}

.button_group {
  display: flex;
  gap: 1.4rem;
}

.button_group button:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 50px;
  gap: 5px;
  width: 154px;
  height: 58px;
  background: #396c03;
  color: #ffffff;
  border-radius: 225px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 170%;
  border: none;
}

.button_group button:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 12px;
  background-color: #396c03;
  border: none;
}

.button_group button:last-child img {
  width: 28px;
  height: 30px;
}

/* navbar Ended */

/* hero sectioln started */
main.hero_section {
  position: relative;
  background: rgba(107, 145, 66, 0.1);
  height: 100vh;
  padding: 0 5% 0;
}

.fixed_image_1 {
  position: absolute;
  z-index: -1;
  left: 2.71px;
  top: 10px;
}

.fixed_image_2 {
  position: absolute;
  z-index: -1;
  width: 288px;
  height: 288px;
  right: 20px;
  top: 27px;
}

.text_wrapper {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 27px;
}

h1.heading_text {
  margin-top: 70px;
  font-family: "Merienda";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 130%;
  color: #396c03;
}

p.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #676767;
}

.input_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  height: 69px;
  border: 2px solid #396c03;
  border-radius: 120px;
}

.circle {
  margin-left: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff8b00;
}

input[type="text"].search {
  border: none;
  width: 60%;
  background: transparent;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  outline: transparent;
}

input[type="text"].search::placeholder {
  color: #c7c7c7;
}

.search_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  gap: 8px;
  width: 210.56px;
  height: 68.19px;
  background: #396c03;
  border-radius: 100px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  color: #ffffff;
}

.image_wrapper {
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}

.center_image {
  width: 90%;
  margin-top: 10%;
  filter: drop-shadow(0px 0px 20px #0000005a);
}

.archivment_tag {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 118px;
  top: 7%;
  left: 30%;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  backdrop-filter: blur(6px);
  border-radius: 8.86914px;
}

h1.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #ff8b00;
}

p.small_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 130%;
  text-align: center;
  color: #838383;
}

/* hero section Ended */

/* expore section start */
section.explore {
  padding: 5% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
  background: rgba(255, 139, 0, 0.05);
}

.txt_wrapper {
  max-width: 527px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1.head {
  font-family: "Merienda";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: #396c03;
}

p.desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #676767;
}

button.btn_primary {
  width: 231px;
  height: 67px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 60px;
  gap: 15px;
  background: #396c03;
  border: none;
  border-radius: 224.4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 170%;
  color: #ffffff;
}

.img_wrapper {
  height: 100%;
  overflow: hidden;
  background: url("./assets/image\ 2\ \(1\).png");
  background-repeat: repeat-x;
  background-size: 300% 100%;
  position: relative;
  background-position-x: 100%;
  animation: bg_animate 18s linear infinite;
}

@keyframes bg_animate {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 150% 100%;
  }
  100% {
    background-position: 300% 100%;
  }
}

.img_wrapper img {
  transform: translateX(0%);
  transform: translateY(0%);
  animation: cycle_animate 8s ease-in-out infinite;
}

@keyframes cycle_animate {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(20%, 5%);
  }
  50% {
    transform: translate(-20%, -2%);
  }
  75% {
    transform: translate(20%, 5%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

/* responsive design */
@media screen and (max-width: 1200px) {
  nav {
    position: relative;
  }
  #menu_icon {
    display: inline;
    transform: scale(0.7);
  }

  .right_content {
    flex-direction: column;
    position: absolute;
    top: -1000%;
    left: 0%;
    width: 100%;
    padding: 20px;
    gap: 24px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px) !important;
    transition: all 0.8s ease;
  }

  .open_nav {
    top: 100% !important;
  }

  ul.link_wrapper {
    flex-direction: column;
    width: 100%;
    gap: 0px;
  }

  li.link {
    padding: 8px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(63, 63, 63, 0.1);
  }

  li.link:hover {
    background: rgba(63, 63, 63, 0.1);
  }

  ul.sub_list {
    position: relative;
  }

  ul.sub_list li.sub_link {
    width: 100%;
  }

  main.hero_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: auto;
  }

  .fixed_image_1 {
    width: 200px;
  }

  .fixed_image_2 {
    top: 50%;
  }

  .text_wrapper {
    text-align: center;
    align-items: center;
  }

  .text_wrapper,
  .image_wrapper {
    width: 80%;
  }

  section.explore {
    gap: 2rem;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .txt_wrapper {
    max-width: 70%;
    text-align: center;
    align-items: center;
  }

  .img_wrapper {
    width: 100%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  main.hero_section {
    gap: 3rem;
  }

  .fixed_image_1 {
    filter: blur(50px) !important;
  }
  .fixed_image_2 {
    right: -140px;
    filter: blur(10px);
  }

  h1.heading_text {
    font-size: 3.4rem;
  }

  p.description {
    font-size: 1.2rem;
  }

  .circle {
    display: none;
  }

  .input_box {
    padding-left: 20px;
    backdrop-filter: blur(20px);
  }

  .search_btn {
    width: auto;
    padding: 24px;
  }
  .search_btn span {
    display: none;
  }

  .txt_wrapper {
    gap: 24px;
  }

  h1.head {
    font-size: 32px;
  }
  p.desc {
    font-size: 18px;
  }

  button.btn_primary {
    width: 70%;
    height: auto;
    padding: 10px 20px;
    font-size: 14px;
  }
  .img_wrapper img {
    transform: translateX(-20%) !important;
  }
}
